@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-mont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button__nav {
  border-radius: 10px;
  border: 3px solid transparent;
  background: linear-gradient(45deg, #af0ffb, #4ca9ec) border-box;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.button__nav:hover {
  border-radius: 10px;
  border: 3px solid transparent;
  background: linear-gradient(45deg, #4ca9ec, #af0ffb) border-box;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
h6 {
  font-size: 72px;
  background: -webkit-linear-gradient(45deg, #ae12fb, #50a3ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video__container {
  position: relative;
}
.video__container video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.linear__bottom {
  background: linear-gradient(
    0deg,
    #000 0.52%,
    rgba(0, 0, 0, 0.72) 18.23%,
    rgba(0, 0, 0, 0.08) 78.13%,
    rgba(0, 0, 0, 0) 100%
  );
}
.large__buttom__header {
  box-shadow: 0 0px 50px -12px #8e43f65b;
  transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.large__buttom__header:hover {
  cursor: pointer;
  box-shadow: 0 0px 50px -12px #8e43f6;
}

.box__shadow {
  box-shadow: 0px -30px 100px 0px #000;
}
.rocket__element_animation {
  transform-origin: bottom;
  animation: rocketAnimation 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes rocketAnimation {
  0% {
    transform: translateX(-8px);
  }

  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-8px);
  }
}
.perspective__div {
  perspective: 1000px;
}
.astronautfront__shadow {
  filter: drop-shadow(10px -20px 3px rgba(0, 0, 0, 0.262));
}
.light__astronaut {
  border-radius: 479.563px;
  border: 0.67px solid #000;
  background: linear-gradient(180deg, #af0ffb 0%, #4ca9ec 100%);
  filter: blur(120.56044006347656px);
}
.light__blur {
  width: 204px;
  height: 472px;
  flex-shrink: 0;
  border-radius: 480px;
  border: 0.67px solid #000;
  background: linear-gradient(180deg, #af0ffb 0%, #4ca9ec 100%);
  filter: blur(120.56044006347656px);
}
.border__text__Method {
  border-bottom: 1px solid #6b6b6b;
}
.element__sticky {
  left: calc(50% - 13px);
}
.animate__image__top {
  animation: floatAnimation 3s infinite ease-in-out;
}
